<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #app{
            padding-left: 400px;
        }
        #app>*{
            max-width: 500px;
            padding: 20px 0;
            border-bottom: 1px solid #ccc;
        }
    </style>
</head>
<body id="app">
    <div>
        <input type="text" v-model="msg" placeholder="Edit me">
        <p>{{ msg }}</p>
    </div>

    <div>
        <label>
            <input type="checkbox" checked="checked" v-model="checkedState">
            {{ checkedState }}
        </label>
        <label>
            <input type="checkbox" checked="checked" v-model="checkedState">
            {{ checkedState }}
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" v-model="checkedNames"
                   value="Barrior">
            Barrior
        </label>
        <label>
            <input type="checkbox" v-model="checkedNames"
                   value="Cico">
            Cico
        </label>
        <label>
            <input type="checkbox" v-model="checkedNames"
                   value="Aliya">
            Aliya
        </label>
        <p>Checked names: {{ checkedNames | json }}</p>
        <ul>
            <li v-for="name in checkedNames" data-name="{{name}}">
                {{ name }}
            </li>
        </ul>
    </div>

    <div>
        <label>
            <input type="radio" v-model="picked" value="Barrior">
            Barrior
        </label>
        <label>
            <input type="radio" v-model="picked" value="Cico">
            Cico
        </label>
        <label>
            <input type="radio" v-model="picked" value="Aliya">
            Aliya
        </label>
        <p>picked: {{ picked }}</p>
    </div>

    <div>
        <select v-model="select">
            <option value="vue" selected>vue</option>
            <option value="react">react</option>
            <option value="angular">angular</option>
        </select>
        <p>select: {{ select }}</p>
    </div>

    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                msg: 'use v-model',
                checkedState: '',
                checkedNames: [],
                picked: '',
                select: ''
            }
        });
    </script>
</body>
</html>