doctype html
html(lang='zh-cn')
    head
        meta(charset='UTF-8')
        title 聊天室
        link(rel='stylesheet', href='../public/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='../public/css/index.css')
    body
        section#container.clearfix
            .pull-left
                header.header.clearfix.btn-primary
                    .pull-left
                        span.glyphicon.glyphicon-user
                        |                     在线成员
                    .pull-right 当前人数：5
                ul.member.list-unstyled
                    li(data-id='0')
                        img(src='../public/img/0.jpg', alt='nickname')
                        b nickname
                    li(data-id='1')
                        img(src='../public/img/2.jpg', alt='Sunnies')
                        b Sunnies
                    li(data-id='2')
                        img(src='../public/img/10.jpg', alt='Hibrro')
                        b Hibrro
                    li(data-id='3')
                        img(src='../public/img/14.jpg', alt='Cico')
                        b Cico
                    li(data-id='4')
                        img(src='../public/img/18.jpg', alt='merki')
                        b merki
            .pull-right
                header.content.header.clearfix.btn-primary
                    .pull-left
                        span.glyphicon.glyphicon-comment
                        |                     聊天室， 快快乐乐的闲聊，开开心心过大年~(*^__^*)~~
                    .pull-right
                        | 欢迎您！
                        b nickname
                section#chat-content
                    .friends
                        img.pull-left(src='../public/img/2.jpg', alt='Sunnies')
                        p Sunnies
                        .msg
                            span
                                | Hello nice day!
                                | If you can't win, lose like a champion.
                                | --如果你无法赢，那么就输得像个冠军一样。
                    .friends
                        img.pull-left(src='../public/img/14.jpg', alt='Cico')
                        p Cico
                        .msg
                            span
                                | 今天不小心滑了一跤，呜呜~~~~(>_
                    .self
                        img.pull-right(src='../public/img/0.jpg', alt='nickname')
                        .msg
                            span
                                | 今天天气真不错啊！~~\(^o^)/~
                    .text-center
                        span
                            i#clear-online-hint.pull-right ×
                            |                         xxx上线了，快找TA一起Hight吧~~\(^o^)/~
                    .self
                        img.pull-right(src='../public/img/0.jpg', alt='nickname')
                        .msg
                            span
                                | 等下一起出去High吧~~(●'◡'●)~~~
                footer#send-msg.text-center
                    form.form-inline
                        .input-group
                            .input-group-addon ☺
                            .input-group-addon
                                span.glyphicon.glyphicon-picture
                            input.form-control(type='text', placeholder='鸡冻的感慨一下~~\(≧▽≦)/', required='')
                            .input-group-addon.btn-primary
                                input(type='submit', value='发送/Send')
        footer.info.text-right
            | ©2016 create by
            a(href='https://github.com/Barrior') @Barrior
        // 模态框
        #modal-user.modal.fade(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h4.modal-title 用户
                    .modal-body.clearfix.create-user
                        .pull-left
                            p
                                img(src='../public/img/16.jpg', alt='')
                            p.text-center
                                em.glyphicon.glyphicon-arrow-up
                                |                             点击头像更换
                        section
                            h3 来一个风一样的昵称：
                            .form-group
                                input#init-username.form-control(type='text', placeholder='n(*≧▽≦*)n')
                            #no-init-username-hint.hidden 来一个风一样的昵称吧(～￣▽￣)～
                            .text-right
                                button.btn.btn-primary(type='button', data-close-modal='') 想好了~
                // /.modal-content
            // /.modal-dialog
        // /.modal
        script(src='../public/js/jquery-2.1.3.min.js')
        script(src='../public/bootstrap/js/bootstrap.min.js')
        script(src='../public/js/index.js')
