<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>ng</title>
    <script src="js/angular.min.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('nameCtrl', ['$scope', '$timeout', function($scope, $timeout) {
            let info = $scope.info = {
                name: 'Barrior',
                age: 23
            };
            $timeout(function(){
                /*
                 //用变量不会触发视图更新
                 info = {
                     name: 'coco',
                     age: 22
                 };
                 */
                $scope.info = {
                    name: 'coco',
                    age: 22
                };
            }, 2000 );

            $scope.reset = function(){
                $scope.info = {
                    name: 'Barrior',
                    age: 23
                }
            };

            //监听方式，名字用直接关联的方式(更好)
            $scope.$watch( 'age', function( newVal, oldVal ){
                $scope.info.age = newVal;
            });
        }]);
    </script>
</head>
<body>
    <div ng-controller="nameCtrl" style="padding: 50px 0 0 600px;">
        <h1>成员信息( 2s后自动更新 )</h1>
        <h3>
            <pre>{{ info | json }}</pre>
        </h3>

        <div>
            <p>修改成员信息：</p>
            <p>
                名字：<input type="text" ng-model="info.name">
            </p>
            <p>
                年龄：<input type="text" ng-model="age">
            </p>
            <button type="button" ng-click="reset()">
                恢复默认
            </button>
        </div>

        <br><br><br><br>
        <div contenteditable="true" ng-model="name">
            H5 contenteditable属性的可编辑不支持V2M
        </div>
    </div>
</body>
</html>