{
    // 将编译内容通过es2015或react规则进行转码
    // stage：ES7不同阶段语法提案的转码规则
    // stage-0：包含stage-0,1,2,3
    "presets": [
        "es2015",
        "react",
        "stage-0"
    ],

    // 用于增强
    "plugins": []
}