*{
    box-sizing: border-box;
}
.cf{
    &:after{
        display: block;
        content: "";
        clear: both;
    }
}
.fl{
    float: left;
}
.fr{
    float: right;
}
html,body{
    color: #333;
}

.btn{
    display: inline-block;
    margin: 5px;
    padding: 2px 6px;
    border: 1px solid #00a0e9;
    border-radius: 4px;
    background-color: #fff;
    color: #00a0e9;
    cursor: pointer;
    outline: none;
    transition: background-color 400ms ease-out;
    &:hover{
        background-color: #00a0e9;
        color: #fff;
    }
}