@btn-bgcolor: #00a0e9;

img{
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #ccc;
    &:hover{
        animation: roateIn 1s ease-in-out;
    }
}

#demo{
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 300px;
}

.btn{
    display: inline-block;
    margin: 10px 0;
    padding: 6px 10px;
    border-radius: 2px;
    background-color: @btn-bgcolor;
    color: #fff;
    cursor: pointer;
}

@keyframes roateIn{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}