<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            min-width: 600px;
            margin: 50px auto;
            border-spacing: 0;
            border-collapse: collapse;
        }
        td,th{
            padding: 8px 10px;
            border: 1px solid #ddd;
            text-align: left;
            color: #333;
            font: 14px/1.5 "微软雅黑";
        }
    </style>
</head>
<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th>序号 <small>NUMBER</small></th>
                    <th>名字 <small>NAME</small></th>
                    <th>年龄 <small>AGE</small></th>
                    <th>性别 <small>SEX</small></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="person in persons">
                    <td>{{ $index }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.sex }}</td>
                </tr>
                <tr v-for="(index, person) in persons">
                    <td>{{ index + persons.length }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.sex }}</td>
                </tr>
                <tr v-for="(index, person) of persons">
                    <td>{{ index + persons.length * 2 }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.sex }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                persons: [{
                    name: 'Barrior',
                    age: 23,
                    sex: 'male'
                },{
                    name: 'Cico',
                    age: 23,
                    sex: 'female'
                },{
                    name: 'leo',
                    age: 24,
                    sex: 'male'
                },{
                    name: 'xxx',
                    age: 'you guess...',
                    sex: 'you guess too...'
                }]
            }
        });

    </script>
</body>
</html>