<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container{
            width: 300px;
            margin: 50px auto;
        }
    </style>
    <script src="js/angular.min.js"></script>
    <script>
        var app = angular.module('app', []);

        app.controller('body', ['$scope','$http','$timeout', function( $scope, $http, $timeout ){
            /*
            第一种写法
            $http({
                    method: 'GET',
                    url: 'data.js'
                })
                .success( msg => alert( `success: ${ msg }` ) )
                .error( msg => alert( `error: ${ msg }` ) )

            //第二种写法
            $http.get( 'data.js' )
                .success( ( msg, state, headers, config ) => alert( `success: ${ msg }` ) )
                .error( msg => alert( `error: ${ msg }` ) )
            */
            /*
                百度搜索jsonp地址
                https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=232&json=1&p=3&sid=20694_1459_17946_18133_17001_12019&req=2&pbs=2345&csor=3&pwd=23&cb=jQuery11020011765319257106999_1470214891016&_=1470214891020
             */
            /*
             如果不填JSON_CALLBACK，则需要在window下注册一个同名函数，有则直接使用success回调即可，比较方便
                 window.search_jsonp_callback = ( msg ) => {
                     console.log( msg );
                     $scope.list = msg.s;
                 };
             */
            let timer = null;
            $scope.list = [];
            $scope.search = keyword => {
                $http({
                        method: 'JSONP',
                        url: `https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=${ keyword }&cb=JSON_CALLBACK`
                    })
                    .success( msg => {

                        $timeout.cancel( timer );
                        timer = $timeout( () => {
                            $scope.list = msg.s;
                        }, 400 );

                    });
            };

        }]);
    </script>
</head>
<body ng-controller="body">

    <div class="container">
        <input type="text" ng-model="keyword" ng-keyup="search( keyword )">
        <input type="button" value="搜索" ng-click="search( keyword )">
        <ul>
            <li ng-repeat="d in list" ng-bind=" d "></li>
        </ul>
    </div>

</body>
</html>